<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title).presence || 'Railbook' %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag '/public.jpg'%>
    <!-- ajax的坑,如果gem里面没有添加要在这里添加 -->
    <!-- <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="js/func.js"></script> -->
  </head>

  <body>
    <h1>start</h1>
    <hr>
    <!--<img src="/test1.jpg" alt="test">-->
    <%= yield :test %>
    <%= content_for?(:content) ? yield(:content):yield %>
    <!-- devise的错误展示区域 -->
    <%= render partial: 'devise_error_area' %>
    <!-- 提供地图 -->
    <%= render partial: 'application/javascript/provideMap' %>
  </body>
</html>
