<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title).presence || 'Railbook' %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag '/public.jpg'%>
  </head>

  <body style="text-align:center; margin:0 auto; background-color: gray; border-style: solid; border-color: gray; border-width: 5px; margin : 10px 0px 0px 5px;">
    <h1>start</h1>
    <hr>
    <!--<img src="/test1.jpg" alt="test">-->
    <%= yield :test %>
    <%= content_for?(:content) ? yield(:content):yield %>

    <% if yield(:getMap).presence && yield(:getMap) == %q(true) %>
      map is true<br>
      <script>
      var map;
      function initMap() {
        var myLatLng = {lat: -25.363, lng: 131.044};

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: myLatLng
        });

        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          title: 'Hello World!'
        });
      }
    </script>
      <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA5uIEK_49gv7fz3qelHb-q6z7Vwn77Q3A&callback=initMap"
  type="text/javascript"></script>
    <% end %>
  </body>
</html>
