<div class="table" style="text-align:center; margin:0 auto; background-color: gray; border-style: solid; border-color: orange; border-width: 5px; margin : 10px 0px 0px 5px;">
  <h3>partial template</h3>
  <table width="100%">
    <thead>
      <tr>
        <th colspan="8" style="text-align:center; font-weight: bold; border-color: orange; border-width: 1px; border-style: solid; border-color: orange; border-width: 1px 0 1px 0;"><%= defined?(title) ? title+" tableOf_1_2" : 'tableOf_1_2 Association' %></th>
      </tr>
      <tr>
        <th>modeltest1</th>
        <th>modeltest1.a</th>
        <th>modeltest2</th>
        <th>modeltest2.modeltest1</th>
        <th>modeltest2.modeltest1.a</th>
        <th>modeltest2.b</th>
      </tr>
    </thead>

    <tbody>
    <% if defined?(model1) != nil && defined?(model2) != nil %>
    　<%#= models.instance_of?(Array) %>
      <% if (model1 != nil && !model1.blank?) && (model2 != nil && !model2.blank?) %>
        <% for models in [model1, model2] %>
          <% for temp in models %>
            <tr>
              <th><%= if temp.class == Modeltest1
                        (temp.blank?) ? nil : temp.class
                      else
                        '-'
                      end %>
              </th>

              <th><%= if temp.class == Modeltest1
                         (temp.a.blank? && temp.a != false) ? nil : temp.a
                      else
                        '-'
                      end %>
              </th>

              <th><%= if temp.class == Modeltest2
                        (temp.blank?) ? nil : temp.class
                      else
                        '-'
                      end %>
              </th>

              <th><%= if temp.class == Modeltest2
                        (temp.modeltest1.blank?) ? nil : temp.modeltest1.class
                      else
                        '-'
                      end %>
              </th>

              <th><%= if temp.class == Modeltest2
                        (temp.modeltest1.a.blank? && temp.modeltest1.a != false) ? nil : temp.modeltest1.a
                      else
                        '-'
                      end %>
              </th>

              <th><%= if temp.class == Modeltest2
                        (temp.b.blank? && temp.b != false) ? nil : temp.b
                      else
                        '-'
                      end %>
              </th>
            </tr>
            <% end %>
          <% end %>
        <% else %>
          <tr>
          <% 6.times do %>
          <th>none</th>
          <% end %>
          </tr>
        <% end %>
    <% elsif defined?(model1) != nil %>
      <% if (model1 != nil && !model1.blank?) %>
        <% for temp in model1 %>
          <tr>
            <th><%= if temp.class == Modeltest1
                      (temp.blank?) ? nil : temp.class
                    else
                      '-'
                    end %>
            </th>

            <th><%= if temp.class == Modeltest1
                       (temp.a.blank? && temp.a != false) ? nil : temp.a
                    else
                      '-'
                    end %>
            </th>

            <th><%= if temp.class == Modeltest2
                      (temp.blank?) ? nil : temp.class
                    else
                      '-'
                    end %>
            </th>

            <th><%= if temp.class == Modeltest2
                      (temp.modeltest1.blank?) ? nil : temp.modeltest1.class
                    else
                      '-'
                    end %>
            </th>

            <th><%= if temp.class == Modeltest2
                      (temp.modeltest1.a.blank? && temp.modeltest1.a != false) ? nil : temp.modeltest1.a
                    else
                      '-'
                    end %>
            </th>

            <th><%= if temp.class == Modeltest2
                      (temp.b.blank? && temp.b != false) ? nil : temp.b
                    else
                      '-'
                    end %>
            </th>
          </tr>
        <% end %>
      <% else %>
        <tr>
        <% 6.times do %>
        <th>none</th>
        <% end %>
        </tr>
      <% end %>
    <% elsif defined?(model2) != nil %>
      <% if (model2 != nil && !model2.blank?) %>
        <% for temp in model2 %>
          <tr>
            <th><%= if temp.class == Modeltest1
                      (temp.blank?) ? nil : temp.class
                    else
                      '-'
                    end %>
            </th>

            <th><%= if temp.class == Modeltest1
                       (temp.a.blank? && temp.a != false) ? nil : temp.a
                    else
                      '-'
                    end %>
            </th>

            <th><%= if temp.class == Modeltest2
                      (temp.blank?) ? nil : temp.class
                    else
                      '-'
                    end %>
            </th>

            <th><%= if temp.class == Modeltest2
                      (temp.modeltest1.blank?) ? nil : temp.modeltest1.class
                    else
                      '-'
                    end %>
            </th>

            <th><%= if temp.class == Modeltest2
                      (temp.modeltest1.a.blank? && temp.modeltest1.a != false) ? nil : temp.modeltest1.a
                    else
                      '-'
                    end %>
            </th>

            <th><%= if temp.class == Modeltest2
                      (temp.b.blank? && temp.b != false) ? nil : temp.b
                    else
                      '-'
                    end %>
            </th>
          </tr>
        <% end %>
      <% else %>
        <tr>
        <% 6.times do %>
        <th>none</th>
        <% end %>
        </tr>
      <% end %>
    <% else %>
        <th>-1</th>
        <th>-1</th>
        <th>-1</th>
        <th>-1</th>
        <th>-1</th>
        <th>-1</th>
    <% end %>
    </tbody>

    <tfoot>
    </tfoot>

  </table>
</div>
