<h1>Login#t3</h1>
<p>Find me in app/views/login/t3.html.erb</p>
<p>username: <%= @username %></P>
<p>password: <%= @password %></p>
<p>referer: <%= @referer %></p>
<p>user: <%= @user %></p>
<p>userhash: <%= BCrypt::Password.create(@password) %></p>
<p style="color:Green;font-weight:bold;"><%= @result %></p>
<% if @result == "æ³¨å†Œå¤±è´¥ðŸ˜­ " %>
<%= link_to 'å†æ³¨å†Œ', action: :t1 %>
<% end %>
