<div style="position:fixed;left:0%; right:0px; top:0px; bottom:0px;z-index:-1;">
  <video loop="" autoplay="" muted=“”>
      <source src="/106.wmv">
  </video>
</div>

<% provide :title, "controll test"%>

<h1>ControllerTest#t1</h1>
<p>Find me in app/views/controller_test/t1.html.erb</p>


<div class="test1", style="text-align:center; margin:0 auto; background-color: gray; border-style: solid; border-color: orange; border-width: 5px; margin : 10px 0px 0px 5px;">
  <h1>params</h1>
  <table style="width:100%;">
    <thead>
      <tr>
        <th>item 1</th>
        <th>item 2</th>
        <th>item 3</th>
        <th>item 4</th>
        <th>item 5</th>
        <th>item 6</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <th>params</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>

      <tr>
        <th>params.require(...).permit(...)</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>

      <tr>
        <th>require</th>
        <td>Accept:<br><%= request.headers['Accept'] %></td>
        <td>Accept-Language:<br><%= request.headers['Accept-Language'] %></td>
        <td>Host:<br><%= request.headers['Host'] %></td>
        <td>Referer:<br><%= request.headers['Referer'] %></td>
        <td>User-Agent:<br><%= request.headers['User-Agent'] %></td>
        <td><%= request.headers['SERVER_PROTOCOL'] %></td>
      </tr>
      <tr>
        <td colspan="6" >Authorization:<br>blank? = <%= request.headers['Authorization'].blank? ? 'true' : 'false' %></td>
      </tr>
<%
=begin
------------------------------------------------------
                  request 重要标签
------------------------------------------------------
 Accept	 客户端支持的内容种类
 Accept-Language	 客户端支持的语言(按优先度排)
 Authorization	 证书信息
 Host	 请求的主机信息
 Referer	 链接信息
 User-Agent

=end
%>
      <tr>
        <th colspan="2" style="font-size: 18px; font-weight: bold;">request.headers</th>
      </tr>
    <% for key, value in @headers %>
      <tr>
        <th style="text-align:left;text-indent: 0px; padding-left: 15px;"><%= key %></th>
        <td colspan="5" style="text-align:left;"><%= value %></td>
      </tr>
    <% end %>
      <tr>
        <th>Update Files</th>
        <td><%= link_to 'file upload test', {controller: :controller_test, action: :t2} %></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>

      <tr>
        <%# TODO: p346~347发送文件%>
        <th></th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>

      <tr>
        <th></th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>

      <tr>
        <th></th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>

      <tr>
        <th></th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>

    <tfoot>
      <tr>
        <th colspan="8" style="text-weight: bold;">thank you</th>
      </tr>
    </tfoot>
  </table>
</div>
