<div class="table" style="text-align:center; margin:0 auto; background-color: gray; border-style: solid; border-color: orange; border-width: 5px; margin : 10px 0px 0px 5px;">
  <h3>partial template</h3>
  <table width="100%">
    <thead>
      <tr>
        <th colspan="8" style="text-align:center; font-weight: bold; border-color: orange; border-width: 1px; border-style: solid; border-color: orange; border-width: 1px 0 1px 0;"><%= defined?(title) ? title : 'Monster' %></th>
      </tr>
      <tr>
        <% if defined?(access) %>
          <% if access.instance_of?(Array) %>
            <% for accTemp in access %>
              <th><%= accTemp.to_s %></th>
            <% end %>
          <% else %>
              <th><%= access.to_s %></th>
          <% end %>
        <% else %>
          <th>HP</th>
          <th>MP</th>
          <th>AD</th>
          <th>AP</th>
          <th>DEF</th>
          <th>MDF</th>
          <th>PHYLE</th>
          <th>ISRARE</th>
        <% end %>
      </tr>
    </thead>

    <tbody>
    <% if defined?(models) != nil && defined?(access) %>
    　<%#= models.instance_of?(Array) %>
      <% if models != nil && !models.empty? %>
          <% for temp in models %>
          <tr>
            <% if access.instance_of?(Array) %>
              <% for accTemp in access %>
                <th><%= case accTemp
                          when :hp then
                            (temp.hp.blank? && temp.hp != false) ? -1 : temp.hp
                          when :mp then
                            (temp.mp.blank? && temp.mp != false) ? -1 : temp.mp
                          when :ad then
                            (temp.ad.blank? && temp.ad != false) ? -1 : temp.ad
                          when :ap then
                            (temp.ap.blank? && temp.ap != false) ? -1 : temp.ap
                          when :def then
                            (temp.def.blank? && temp.def != false) ? -1 : temp.def
                          when :mdf then
                            (temp.mdf.blank? && temp.mdf != false) ? -1 : temp.mdf
                          when :phyle then
                            (temp.phyle.blank? && temp.phyle != false) ? -1 : temp.phyle
                          when :israre then
                            (temp.israre.blank? && temp.israre != false) ? -1 : temp.israre
                          end %>
                </th>
               <% end %>
              <% else %>
                <th><%= case access
                        when :hp then
                          (temp.hp.blank? && temp.hp != false) ? -1 : temp.hp
                        when :mp then
                          (temp.mp.blank? && temp.mp != false) ? -1 : temp.mp
                        when :ad then
                          (temp.ad.blank? && temp.ad != false) ? -1 : temp.ad
                        when :ap then
                          (temp.ap.blank? && temp.ap != false) ? -1 : temp.ap
                        when :def then
                          (temp.def.blank? && temp.def != false) ? -1 : temp.def
                        when :mdf then
                          (temp.mdf.blank? && temp.mdf != false) ? -1 : temp.mdf
                        when :phyle then
                          (temp.phyle.blank? && temp.phyle != false) ? -1 : temp.phyle
                        when :israre then
                          (temp.israre.blank? && temp.israre != false) ? -1 : temp.israre
                        end %>
                </th>
              <% end %>
            <% end %>
          </tr>
        <% else %>
          <tr>
          <% access.size.times do %>
          <th>none</th>
          <% end %>
          </tr>
        <% end %>
    <% else %>
        <th>-1</th>
        <th>-1</th>
        <th>-1</th>
        <th>-1</th>
        <th>-1</th>
        <th>-1</th>
        <th>-1</th>
        <th>-1</th>
    <% end %>
    </tbody>

    <tfoot>
    </tfoot>

  </table>
</div>
