<h1>Login#t2</h1>
<p>Find me in app/views/login/t2.html.erb</p>

<p>username: <%= @username %></P>
<p>password: <%= @password %></p>
<p>referer: <%= @referer %></p>
<p>user: <%= @user %></p>
<p style="color:Green;font-weight:bold;"><%= @result %></p>
<% if @result == "ç™»å½•å¤±è´¥ðŸ˜­ " %>
<%= link_to 'å†ç™»å½•', action: :t1 %>
<% end %>
