<% provide :title, 'Start Model Test' %>
<h1>ModelTest#t1</h1>
<p>Find me in app/views/model_test/t1.html.erb</p>
<div class="test1" style="border-style: solid; border-color: pink; border-width: 1px; padding: 10px 0 10px 0; margin: 0 0 10px 0;">
  <h2>test 1</h2>
  <%= render 'model_test/itemTable', models: @model_tests %>
  <%#= render 'model_test/itemTable', models: @model_tests %>
  <%= render 'model_test/itemTable', models: [@a, @b, @c] %>
  <%#= render 'model_test/itemtabel', models: @c %>
  <%= render 'model_test/itemTable', models: @d %>
</div>

<div class="test2" style="border-style: solid; border-color: pink; border-width: 1px; padding: 10px 0 10px 0; margin: 0 0 10px 0;">
  <h2>test 2</h2>
  <table width="100%">
    <thead>
      <tr>
        <th>項目</th>
        <th>例</th>
        <th>例</th>
        <th>例</th>
        <th>例</th>
        <th>例</th>
        <th>例</th>
        <th>例</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <th>where</th>
        <th><%= render 'model_test/itemTable', models: @where_sample1, title: 'where_sample1' %></th>
        <th><%= render 'model_test/itemTable', models: @where_sample2, title: 'where_sample2' %></th>
        <th><%= render 'model_test/itemTable', models: @where_sample3, title: 'where_sample3' %></th>
        <th><%= render 'model_test/itemTable', models: @where_sample4, title: 'where_sample4' %></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

      <tr>
        <th>where2</th>
        <th><%= render 'model_test/itemTable', models: @where_sample5, title: 'where_sample5' %></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

      <tr>
        <th>not</th>
        <th><%= render 'model_test/itemTable', models: @not, title: 'not test' %></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

      <tr>
        <th>or</th>
        <th><%= render 'model_test/itemTable', models: @or, title: 'or test' %></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

      <tr>
        <th>order_asc</th>
        <th colspan="7"><%= render 'model_test/itemTable', models: @order_asc, title: 'order_asc' %></th>
      </tr>

      <tr>
        <th>order_desc</th>
        <th colspan="7"><%= render 'model_test/itemTable', models: @order_desc, title: 'order_desc' %></th>
      </tr>

      <tr>
        <th>reorder</th>
        <th colspan="7"><%= render 'model_test/itemTable', models: @reorder_nil, title: 'reorder_nil' %></th>
      </tr>


      <tr>
        <th>select</th>
        <th colspan="7"><%= render 'model_test/partialTable', models: @select_hp, title: 'select', access: [:hp, :ad, :israre] %></th>
      </tr>

      <tr>
        <th>limit_offset</th>
        <th colspan="7"><%= render 'model_test/itemTable', models: @limit_offset, title: 'limit_offset' %></th>
      </tr>

      <tr>
        <th>first and limit(0)</th>
        <th colspan="7"><%= render 'model_test/itemTable', models: @first_limit, title: 'first' %></th>
      </tr>

      <tr>
        <th>group</th>
        <th colspan="7"><%= render 'model_test/itemTable', models: @group, title: 'group' %></th>
        <th><% for temp in @group_method_test %>
              <%= temp.def_average %> <br><<%= temp.mp %> <% end %></th>
        <th><%= @group_method_test %></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

      <tr>
        <th>having</th>
        <th colspan="7"><%= render 'model_test/itemTable', models: @having, title: 'title' %></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

      <tr>
        <th>unscope</th>
        <th colspan="7"><%= render 'model_test/itemTable', models: @unscope, title: 'unscope' %></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </tbody>

    <tfoot>
      <tr>
        <th colspan="8" style="text-weight: bold;">thank you</th>
      </tr>
    </tfoot>
  </table>
</div>
