<% provide :title, 'association test' %>
<% provide :headTitle, 'association test' %>
<h1>ModelTest#t3</h1>
<p>Find me in app/views/model_test/t3.html.erb</p>

<div class="test3" style="border-style: solid; border-color: pink; border-width: 1px; padding: 10px 0 10px 0; margin: 0 0 10px 0;">
  <h2>test 3</h2>
  <table width="100%">
    <thead>
      <tr>
        <th>項目</th>
        <th>例</th>
        <th>例</th>
        <th>例</th>
        <th>例</th>
        <th>例</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <th>test1</th>
        <th><%= @test2.modeltest1.a %></th>
        <th><%= @test1.a %></th>
        <th colspan="4"><%= render 'model_test/partialTableOf_1_2.html.erb', model1: [@test1], model2: [@test2], access1: [:modeltest1, :modeltest1_a], access2: [:modeltest2, :modeltest2_modeltest1, :modeltest2_modeltest1_a, :modeltest2_b ], title: 'belongs_to' %></th>
      </tr>

      <tr>
        <th>all of data<br>use partialTableOf_1_2</th>
        <th colspan="5"><%= render 'model_test/partialTableOf_1_2.html.erb',title: 'alldata', model1: @all_of_1, model2: @all_of_2, access1: [:modeltest1, :modeltest1_a], access2: [:modeltest2, :modeltest2_modeltest1, :modeltest2_modeltest1_a, :modeltest2_b ] %></th>
      </tr>

      <tr>
        <th>all of data<br>use tableOf_1_2</th>
        <th colspan="5"><%= render 'model_test/tableOf_1_2.html.erb',title: 'alldata', model1: @all_of_1, model2: @all_of_2 %></th>
      </tr>

      <tr>
        <th>has_many</th>
        <th><%= @has_many.class %></th>
        <th><%= @has_many.modeltest2s.blank? ? 'none' : @has_many.modeltest2s[0].class %></th>
        <th colspan="3"><%= render 'model_test/tableOf_1_2', model1: [@has_many], model2: @has_many.modeltest2s, title: 'has_many' %></th>
        <%# TODO: p278~279 has_and_belongs_to_many, has_many assoc_id, through: middle_id %>
        <%# TODO: p280~281 声明关联后自动生成的方法 %>
        <%# TODO: p280~290 option %>
        <%# TODO: p290~293 join..., 需要SQL %>
        <th></th>
        <th></th>
      </tr>

      <tr>
        <%# TODO: 回调函数p294~297%>
        <th>Migration</th>
        <th colspan="5">type of b: <%= Modeltest2.find_by(b: 5).b.class %></th>
      </tr>

      <tr>
        <th>Add TestStr To Modeltest2</th>
        <th>blank? <%= if defined?(Modeltest2.find_by(b: 5).testStr) then Modeltest2.find_by(b: 5).testStr.blank? end%></th>
        <th>defined? <%= @temp = Modeltest2.find_by(b: 5).testStr; defined?(@temp) %></th>
        <th>Test In Modeltest2: <%= Modeltest2.find_by(b: 5).testInModeltest2_File %></th>
        <th colspan="2">default_valueOf_testStr: <%= Modeltest2.find_by(b: 5).testStr%></th>
      </tr>

      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </tbody>

    <tfoot>
      <tr>
        <th colspan="8" style="text-weight: bold;">thank you</th>
      </tr>
    </tfoot>
  </table>
</div>
